body {
    background-color: honeydew; 
}

#root {
    width: 100%;
    margin: auto;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

#root > button {
    display: block;
    margin: auto;
    padding: 5px 10px;
    background-color: lightgreen;
    color: black;
    border: none;
    height: 30px;
    cursor: pointer;
}

#root > button:hover {
    background-color: orange;
    color: black;
}

#clientList {
    margin: auto;
    margin-top: 20px;
}

.chartjs-render-monitor {
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
}