/** -----------------------------------Base------------------------------------------- **/

body {
  background-color : rgb(219, 233, 255);
}

#field {
  background-color: white;
  border : 10px solid black;
  margin-left: 40px;
}

h1 {
  background-color: white;
  width: 70%;
  padding: 5px;
  border-radius: 100px;
  border: solid black 2px;
  font-weight: initial;
  font-size: 20px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

p {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  background-color: #bfd0f9;
  padding: 30px;
  text-align: center;
  font-family: cursive;
  border-radius: 10px;
}

span#opponent {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
  border: solid black 1px;
  padding: 10px 0px;
  margin-bottom:  40px;
}

#score {
  background-color: white;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  font-size: 40px;
  border: solid 1px;
}

#score #p1 {
  margin-right: 60px;
}

#score #p2 {
  margin-left: 60px;
}

#p1:before {
  content: "You :";
  font-size: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

#p2:before {
  content: "Opponent :";
  font-size: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

#p1:after {
  content: "pts";
  font-size: 12px;
}

#p2:after {
  content: "pts";
  font-size: 12px;
}

/** -----------------------------------Header------------------------------------------------------- **/

header {
  width: max-content;
  margin: auto auto 40px auto;
  background-color: white;
  border-radius: 10px;
  border: solid 2px black;
}

header ul {
  text-align: center;
  padding: 0px 50px; 
}

header > ul > li {
  display: inline;
}

header a {
  background-color: #668dec;
  display: inline;
  color: white;
  text-decoration: none;
  width: 100px;
  margin: 0px 10px 0px 10px;
  padding: 6px 8px;
  border-radius: 10px;
}

header a:hover {
  background-color: rgb(223, 110, 110);
}

/** ------------------Message First Player / Second Player -----------------------------------------**/

#message{
  position: fixed;
  text-align: center;
  width: 10%;
  border: 1px solid white;
  font-size: 20px;
  left: 0;
  top: 0;
  background-color: rgb(241, 244, 137);
  padding: 10px;
}

/** ------------------------------Tchat-------------------------------------------------------------- **/

#field, #chat {
  display: inline;
}

#chat {
  width: 400px;
  height: 600px;
  border: 10px solid black;
  position: absolute;
  right: 10px;
  background-color: rgb(81, 128, 200);
}

form{
  margin: auto;
  width: 80%;
  position: absolute;
  bottom: 5px;
}

input {
  width: 60%;
  height: 50px;
}

button {
  width: 25%;
  height: 50px;
}

#chat li{
  list-style: disc;
  margin-bottom: 5px;
  width: 80%;
  color: white;
}

#chat li.me {
  list-style: circle;
}

ul#messages {
  margin: 0;
  width: 90%;
  overflow-y: scroll;
  overflow-wrap: break-word;
  border-bottom: solid black 1px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 85%;
  background-color: rgb(60, 124, 206);
}

/** ------------------------------Online / Offline ----------------------------------------**/

span.online {
  background-color: green;
}

span.offline {
  background-color: #b90000;
}
